{
    "trailingComma": "none",
    "arrowParens": "avoid",
    "singleQuote": true,
    "printWidth": 80,
    "useTabs": true,
    "tabWidth": 2,
    "semi": false,
    "importOrder": [
        "^(next/(.*)$)|^(next$)", 
        "<THIRD_PARTY_MODULES>",
        "next-seo.config", 
        "^components/(.*)$",
        "^utils/(.*)$",
        "^assets/(.*)$",
        "^@fontsource/(.*)$",
        "^[./]"
      ],
      "importOrderSeparation": true,
      "importOrderSortSpecifiers": true

  }